<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>
          <a href="{{ site.url }}">Startseite</a>
        </p>
        <p>
          <a href="/impressum/">Impressum</a>
          <br />
          <a href="/datenschutzerklaerung/">Datenschutz</a>
          <br />
          <a href="/lizenz/">Lizensierung</a>
        </p>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Feed abonnieren</span>
          </a>
        </p>
      </div>
      <div class="footer-col">
        <p>Alle Inhalte auf dieser Website sind den Menschen gewidmet, die mein Leben lebenswert machen und meinem Alltag Bedeutung, Liebe und Sinn geben: meinen Töchtern, meiner Partnerin, meinen Freunden und meiner Familie.</p>
      </div>
    </div>
  </div>

</footer>
