<meta property="og:locale" content="de_DE" />
<meta property="og:type" content="article" />
<meta name="twitter:creator" content="@flowinho"/>
<link rel="publisher" href="https://derflo.io"/>
<meta name="twitter:site" content="@flowinho"/>
<meta name="twitter:domain" content="Flowinho"/>
<meta property="og:site_name" content="derflo.io" />
<meta property="article:publisher" content="https://derflo.io" />
<meta name="og:image" content="{{ post.imageURL }}"/>
<meta property="og:title" content="{{ post.title }}"/>
<meta property="og:url" content="{{ site.url }}{{ post.url }}"/>
<meta property="og:description" content="{{ post.excerpt }}"/>
<meta name="description" content="{{ post.excerpt }}">