// Merriweather font
@font-face {
    font-family: "Merriweather-Regular";
    src: url("../fonts/Merriweather-Regular.ttf");
}
@font-face {
    font-family: "Merriweather-Black";
    src: url("../fonts/Merriweather-Black.ttf");
}
@font-face {
    font-family: "Merriweather-BlackItalic";
    src: url("../fonts/Merriweather-BlackItalic.ttf");
}
@font-face {
    font-family: "Merriweather-Bold";
    src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: "Merriweather-BoldItalic";
    src: url("../fonts/Merriweather-BoldItalic.ttf");
}
@font-face {
    font-family: "Merriweather-Italic";
    src: url("../fonts/Merriweather-Italic.ttf");
}
@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather-Light.ttf");
}
@font-face {
    font-family: "Merriweather-LightItalic";
    src: url("../fonts/Merriweather-LightItalic.ttf");
}

// Mulish font
@font-face {
    font-family: "Mulish-Regular";
    src: url("../fonts/Mulish-Regular.ttf");
}
@font-face {
    font-family: "Mulish-Black";
    src: url("../fonts/Mulish-Black.ttf");
}
@font-face {
    font-family: "Mulish-BlackItalic";
    src: url("../fonts/Mulish-BlackItalic.ttf");
}
@font-face {
    font-family: "Mulish-Bold";
    src: url("../fonts/Mulish-Bold.ttf");
}
@font-face {
    font-family: "Mulish-BoldItalic";
    src: url("../fonts/Mulish-BoldItalic.ttf");
}
@font-face {
    font-family: "Mulish-ExtraBold";
    src: url("../fonts/Mulish-ExtraBold.ttf");
}
@font-face {
    font-family: "Mulish-ExtraBoldItalic";
    src: url("../fonts/Mulish-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Mulish-ExtraLight";
    src: url("../fonts/Mulish-ExtraLight.ttf");
}
@font-face {
    font-family: "Mulish-ExtraLightItalic";
    src: url("../fonts/Mulish-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Mulish-Italic";
    src: url("../fonts/Mulish-Italic.ttf");
}
@font-face {
    font-family: "Mulish-Light";
    src: url("../fonts/Mulish-Light.ttf");
}
@font-face {
    font-family: "Mulish-LightItalic";
    src: url("../fonts/Mulish-LightItalic.ttf");
}
@font-face {
    font-family: "Mulish-Medium";
    src: url("../fonts/Mulish-Medium.ttf");
}
@font-face {
    font-family: "Mulish-MediumItalic";
    src: url("../fonts/Mulish-MediumItalic.ttf");
}
@font-face {
    font-family: "Mulish-SemiBold";
    src: url("../fonts/Mulish-SemiBold.ttf");
}
@font-face {
    font-family: "Mulish-SemiBoldItalic";
    src: url("../fonts/Mulish-SemiBoldItalic.ttf");
}

// Oleo Script font
@font-face {
    font-family: "OleoScript-Regular";
    src: url("../fonts/OleoScript-Regular.ttf");
}
@font-face {
    font-family: "OleoScript-Bold";
    src: url("../fonts/OleoScript-Bold.ttf");
}

@font-face {
    font-family: "Coiny-Regular";
    src: url("../fonts/Coiny-Regular.ttf");
}