.grid300 {
    display: grid;
    grid-template-columns: #{'repeat(auto-fit, minmax(min(300px, 100%), 1fr))'};
}

.grid500 {
    display: grid;
    grid-template-columns: #{'repeat(auto-fit, minmax(min(500px, 100%), 1fr))'};
}

.article-list-entry img {
    width:100%;
    height:320px;
    object-fit:cover;
    margin-bottom: 12px;
}