<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- {%- include header.html -%} -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <script type="text/javascript" src="/assets/prism/prism.js"></script>
    <script type="text/javascript" src="/assets/lazy/allLazy.js"></script>
    <script type="text/javascript" src="/assets/js/clickable-images.js"></script>
  </body>

</html>
