---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}





  <div class="grid300">
    {%- if posts.size > 0 -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <div class="article-list-entry">
          <!-- <img src="https://cloud.fschuttkowski.xyz/s/ZZ3GdXF82KgKJLs/download/IMG_0918.JPG"></img> -->
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          
          <a href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
          
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncatewords: 56 }}
          {%- endif -%}
        </div>
      {%- endfor -%}

    {%- endif -%}
  </div>


</div>
