---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="greeting">
  Was befindet sich hier? Nach langem und wiederholtem Aufbau verschiedenster Blog-Formate habe ich beschlossen, dass ich auf das allseits gegenwärtige Format „Person hat einen Blog über den Sie Geld verdient oder über ihre Arbeit schreibt“ einfach verzichten möchte.
  Weitere Bemühungen, einen optisch ansprechenden Blog mit bedeutungsvollen Inhalten zu generieren, scheiterten schlicht an meiner begrenzten Zeit. Also setze ich endlich um, was ich schon längst tun möchte: einen Blog im „Braindump“-Format. Hier findet ihr Dinge die mir im Alltag begegnen. Unsortiert - dafür ehrlich. Manchmal sehr lange, manchmal sehr kurz. Aber immer 100% „derFlo".
  </div>
  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- for post in posts -%}
    <p>
      {%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: date_format }}
      </time>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <br />
      <span class="post-readingtime">{% include reading-time.html %}</span>
      {% if post.tags.size > 0 %}
        <span class="post-tags">{{ post.tags | sort | join: ", " }}</span>
      {% endif %}
    </p>
    {% endfor %}
  {% endif %}
</div>
