<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body onload="handleDarkmode()">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper-home">
        
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}





  <div class="grid300">
    {%- if posts.size > 0 -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <div class="article-list-entry">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          
          <a href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
          
          {% include category-meta.html %}

          {%- if post.imageURL -%}
            <div class="article-image-container">
              <a href="{{ post.url | relative_url }}">
                <img src="{{ post.imageURL }}" class="article-image" >
              </a>
            </div>
          {%- endif -%}
          
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncatewords: 56 }}
          {%- endif -%}
        </div>
      {%- endfor -%}

    {%- endif -%}
  </div>


</div>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
